/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  box-sizing: border-box; }

h1, a, label {
  font-family: Helvetica, sans-serif; }

header {
  background-color: black;
  position: absolute;
  width: 100%;
  margin-bottom: 20px;
  padding: 30px; }
  header h1 {
    color: white;
    font-size: 30px; }
  header a {
    color: white;
    float: right; }

form {
  clear: both;
  position: relative;
  border: 1px solid red;
  top: 120px;
  width: 50%;
  margin-left: 25%; }
  form label, form input, form a {
    display: block;
    text-align: center;
    margin: 20px auto; }
  form input {
    padding: 10px;
    line-height: 1.5;
    font-size: 16px;
    text-align: left; }

.view {
  position: absolute;
  top: 270px;
  border: 1px solid blue;
  width: 70%;
  margin-left: 15%; }

.movie {
  width: 45%;
  margin: 5% 2.5%;
  height: 80px;
  border: 1px solid green;
  position: relative;
  float: left; }
  .movie a {
    text-decoration: none; }
  .movie .title {
    text-align: center; }
